.drop-zone {
  border: 0.125rem dashed $light-gray-border;
  border-radius: 0.25rem;
  padding: 1.25rem;
  text-align: center;
  cursor: pointer;
  transition: border-color 0.3s ease;
  color: $medium-gray-text;
  font-size: 1.25rem;
  width: 100%;
  box-sizing: border-box;

  &.dragging {
    border-color: $primary-button-color-hover;
    color: $primary-button-color-hover;
  }

  &.pasting {
    border-color: $success-color;
    color: $success-color;
  }
}
